save-exact=true
# Webbrowser, z.B.:   https://www.npmjs.com/package/typescript
registry=https://registry.npmjs.org

# https://stackoverflow.com/questions/57541402/node-gyp-configure-got-gyp-err-find-vs
python=python
# fuer better-sqlite3 (und ggf. pg-native, re2, argon2)
msvs_version=2022

#strict-ssl=false
#package-lock=false

#legacy-peer-deps=true
